<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>@Session["usersName"]</h3>
        <a href="~/success.cshtml">Tracker</a>
        <span> | </span>
        <a href="~/previousAppointments.cshtml">Finished Appointments</a>
        <span> | </span>
        <a href="~/index.cshtml">Logout</a>
    </div>


</div>